body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 70px;
    background-image: url(../images/corkboard.png);
	background-repeat: repeat;
}
.footer{
	
}
.lead{
	font-size: 19px;
}
/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/* ==========================================================================
sections
========================================================================== */
.main{
	padding: 120px 0px 100px;
}

.style1{
	background-color: #fff;
}
.style1 p{
	color:rgba(70, 70, 70, 0.80);
}
.style1 a:hover{
	background:rgba(255,255,255,.75)
}
.style2 {
    background-color: #333;
    color: rgba(255,255,255,.75);
    background-attachment: fixed,fixed;
    background-image: url(../images/overlay1.png),url(../../images/header.jpg);
    background-size: auto,cover;
}
.style2 header{
	color:#fff;
}
.style2 header.major::after {
	background:#fff;
}
.style2 a{
	color:#fff;
}
.style2 a:hover{
	color:rgba(255,255,255,.75);
}
#three{
	padding-top:85px;
}
#three p{
	margin-bottom:35px;
}
#four{
	padding-top:85px;
}
#rememberme{
	margin: 12px 0px;
}
header.major::after {
    background: rgba(144, 144, 144, 0.498039);
    content: "";
    display: inline-block;
    height: 1px;
    margin-top: 1.5em;
    margin-bottom:1.5em;
    width: 6em;
}
input.button.special{
	color:#fff;
}
input.button.special:hover{
	background: rgba(200, 200, 200, 0.498039);
}
#footer {
    padding: 7em 0;
    background-color: #4686a0;
    color: rgba(255,255,255,.75);
    background-attachment: fixed,fixed,fixed;
    background-image: url(../images/overlay2.png),url(../images/overlay4.svg),linear-gradient(45deg,#4361c2,#4fa49a 50%,#9dc66b 95%);
    background-position: top left,center center,center center;
    background-size: auto,cover,cover;
}
#footer, #header {
    text-align: center;
}
.social, .copy {
	list-style: none;
}
.social li, .copy li{
	display:inline;
}
.actions a.button:hover{
	text-decoration:none;
}
/* ==========================================================================
header principal
========================================================================== */
#header{
	padding: 40px 0;
	padding-top: 160px;
    background-color: #fff;
    color: #fff ;
    background-attachment: fixed,fixed,fixed;
    background-image: url(../images/overlay2.png),url(../images/overlay3.svg),linear-gradient(45deg,#9dc66b 5%,#4fa49a 30%,#4361c2);
    background-position: top left,center center,center center;
    background-size: auto,cover,cover;
    overflow: hidden;
    margin-top:-70px;
    min-height: 700px;
}
#header .glyphicon{
	font-size:90px;
}
.actions{
	list-style: none;
	padding-left: 0px;
	margin: 2.5em 0 0;
}
#header .button {
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff!important;
    width: 10%;
    height: 45px;
    padding-top: 0px;
    text-decoration:none;
}
#header .button:hover {
    background-color:rgba(255,255,255,.125);
}
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color .2s ease-in-out,color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out,color .2s ease-in-out;
    transition: background-color .2s ease-in-out,color .2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(144,144,144,.5);
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    height: 2.75em;
    letter-spacing: .125em;
    line-height: 2.75em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-indent: .125em;
    text-transform: uppercase;
    white-space: nowrap;
}
#header .actions:after {
    background: #fff;
    height: 100vh;
    left: 50%;
    position: absolute;
    /*top: 100%;*/
    width: 1px;
}
#header .actions:after, #header:after {
    content: '';
}
/* ==========================================================================
navbar
========================================================================== */
.user {
	background-image: url(../images/default.png);
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    display: block;
    margin-top: -6px;
	border-radius:2px;
}
.nav-principal{
	width: 100%;
	z-index:3000;
	color:#fff;	
	padding:20px 0px;
	position:fixed;
	top:0;
	background-image:none;
}
.nav-inner-principal{
	margin:0px;
	list-style: none;
	text-align:center;
	padding:0px;
}
.nav-inner-principal li{
	display:inline !important;
	/*margin:0px 20px;*/
}
.nav-inner-principal > li > a{
	text-decoration:none;
	border: 0;
  	padding: 22px 22px;
  	text-transform: uppercase;
  	color:#fff;
}
.nav-inner-principal > li > a:hover{
	background-color: rgba(0,0,0,0.1);
}
/* ==========================================================================
Modal style
========================================================================== */
.modal-footer {
  padding: 15px;
  padding-top:0px;
  text-align: right;
   border-top: 0; 
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 0px;
  padding-bottom: 0px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-input{
  text-align: center;
  text-transform: uppercase;
  border: 0;
  background-color: inherit;
}
.modal-required{
	position: relative;
  top: -35px;
  left: 5px;
  font-size: 24px;
  color: red;
  
  width: 5px;
  height: 5px;
}
.wrapper-input{
	  height: 35px;
}
/* ==========================================================================
button add style
========================================================================== */
.add-button-wrapper{
	 position: fixed;
	 bottom: 25px;
	 right: 25px;
	 z-index: 1030;
}
.add-button{
	 border-radius: 50%;
  width: 65px;
  height: 65px;
  /* line-height: 0; */
  font-size: 22px;
  /* vertical-align: middle; */
    padding-top: 19px;
  padding-left: 19px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
/* ==========================================================================
Task style
========================================================================== */
.task{
	padding: 15px 15px;
	padding-top:5px;
}
.task-yellow{
	border: 1px solid #F7FE2E /*#F3F781*/;
  	background-color: #F2F5A9 ;
}
.task-blue{
	border: 1px solid #2ECCFA;
  	background-color: #81DAF5;
}
.task small{
	font-size:11px;
}
.btn-tools{
	margin-top:15px;
}
.task-wrapper{
	/*padding:25px;
	background-image: url(../images/post-it.png);
	background-size:100% 100%;
	background-position: center;
	background-repeat: no-repeat;*/
	margin-bottom: 20px;
}
.task-description{
	margin-top:15px;
}
.task-header{
	padding: 0px 0px;
	text-transform: uppercase;
}
.task-header p{
	margin-top: 13px;
}
.taskcontent{
	
	
}
.button-plus{
	margin-top: 10px;
  	margin-bottom: 10px;
}
.button-plus a{
}
.task-content{
	
}
.task-tools{
	margin-top: 15px;
}
.task-check:hover{
	cursor: pointer;
}
#task-list-wrapper{
	
}
/* ==========================================================================
navbar main
========================================================================== */
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color:#fff;
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default{
	background-color: #4686a0;
	border-bottom:1px solid #4361c2;
	color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed,	fixed,	fixed;
   /* background-image: url("../css/images/overlay2.png"), url("../css/images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);*/
    background-position: top left,	center center,	center center;
    background-size: auto,	cover,	cover;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-version {
  position: relative;
  color: #fff;
  top: -27px;
  left: 46px;
}
.navbar-version:hover {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #72b5f8;
  border-bottom:2px solid #4361c2;
  
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   color: #fff;
  background-color: #72b5f8;
  border-bottom:2px solid #4361c2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
  background-color: #72b5f8;
  border-bottom:2px solid #4361c2;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #4686a0;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #4361c2;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #72b5f8;
}
/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: fixed;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 3000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */
