<!-- Header -->
<div class="nav-principal">
	<ul class="nav-inner-principal"> 
		<li><a href="#one" class="scrolly" translate="principal.header.nav.post-it">Post-it</a></li>
		<li><a href="#two" class="scrolly" translate="principal.header.nav.design">Design</a></li>
		<li><a href="#three" class="scrolly" translate="principal.header.nav.easy">Easy to use</a></li>
		<li><a href="#top" class="scrolly" translate="principal.header.nav.top">Top</a></li>
	</ul>
</div>
<section id="header">
	<div class="inner text-center">
		<span class="glyphicon glyphicon-cloud"></span>
		<h1><spam translate="principal.header.greating"></spam></h1>
		<p class="lead" translate="principal.header.description">
				Manage your time, plan your tasks and access from anywhere </br> through
				our cloud-based application.
		</p>
		<ul class="actions">
			<li><a href="#four" class="button scrolly">Login</a></li>
		</ul>
	</div>
</section>

<div  ng-cloak>
	
	<!-- One -->
	<div id="one" class="main style1">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<header class="major">
						<h2 translate="principal.section1.title">
									Put your Post-it on the cloud!<br /> move your reminders across
									Internet.
						</h2>
					</header>
					<p class="lead" translate="principal.section1.description">Task Admin lets
								you have your reminders at any time, anywhere in the world.
								Furthermore it offers ease of use and intuitive design.</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img class="img-responsive img-rounded" src="assets/images/example-front-end.png" alt="" /></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Two -->

	<div id="two" class="main style2 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<img class="img-responsive" src="assets/images/multidevice1.png" alt="" /></span>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<header class="major">
						<h2 translate="principal.section2.title">Multi-Device and
							Multi-Platform responsive design</h2>
					</header>
					<p class="lead" translate="principal.section2.description">Task Admin lets
						you have your reminders at any time, anywhere in the world.
						Furthermore it offers ease of use and intuitive design.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Three -->
	<section id="three" class="main style1 text-center">
		<div class="container">
			<header class="major">
				<h2 translate="principal.section3.title">Easy to use.</h2>
			</header>
			<p class="lead" translate="principal.section3.description">Our goal is that
				use Task Admin will become as easy as writing a Post-it.</p>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<iframe class="image fit" style="min-height: 219px;"
						src="https://www.youtube.com/embed/VHM3BQ-JgVc" frameborder="0"
						allowfullscreen></iframe>
					<h3 translate="principal.section3.create.title">Create a
						Post-it</h3>
					<p class="lead" translate="principal.section3.create.description">Watch this
						video and see how easy it is to create a task in Task Admin. Click
						on green button and enter your Post-it.</p>
					<ul class="actions">
						<li><a href="#" class="button"
							translate="principal.buttons.more">More</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<iframe class="image fit" style="min-height: 219px;"
						src="https://www.youtube.com/embed/oCi7bnEDTmI" frameborder="0"
						allowfullscreen></iframe>
					<h3 translate="principal.section3.edit.title">Edit your
						Post-it</h3>
					<p class="lead" translate="principal.section3.edit.description">Editing a
						post-it is as simple as clicking a button. Watch this video and
						see how.</p>
					<ul class="actions">
						<li><a href="#" class="button"
							translate="principal.buttons.more">More</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<iframe class="image fit" style="min-height: 219px;"
						src="https://www.youtube.com/embed/RNy6tsSw2oI" frameborder="0"
						allowfullscreen></iframe>
					<h3 translate="principal.section3.complete.title">Complete
						your tasks</h3>
					<p class="lead" translate="principal.section3.complete.description">Editing
						a post-it is as simple as clicking a button. Watch this video and
						see how.</p>
					<ul class="actions">
						<li><a href="#" class="button"
							translate="principal.buttons.more">More</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Four -->
	<section id="four" class="main style2 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<header class="">
						<h2 translate="principal.login.title">Authentication</h2>
					</header>
					<div class="alert alert-danger" ng-show="authenticationError"
						translate="principal.login.error.authentication">
						<strong>Authentication failed!</strong> Please check your
						credentials and try again.
					</div>
					<form class="form-inline" role="form" ng-submit="flase">
							<div class="form-group">
								<label class="sr-only" for="username">Username</label>
								<input type="text" class="form-control input-lg" id="username"
									placeholder="{{'principal.login.placeholders.login' | translate}}"
									ng-model="username">
							</div>
							<div class="form-group">
								<label class="sr-only" for="password">Password</label>
								<input type="password" class="form-control input-lg" id="password"
									placeholder="{{'principal.login.placeholders.password' | translate}}"
									ng-model="password">
							</div>
							<div class="6u 12u$(small)">
								<input type="checkbox" id="rememberme" name="rememberme"
									ng-model="rememberMe" checked> <label for="rememberme"
									translate="principal.login.remember" style="color: #fff">Remember
									me</label>
							</div>
							<input type="submit" ng-click="login()" value="Login"
										class="button special" />
					</form>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2 style="color:#fff" translate="principal.registration.title">Registration</h2>
					<p class="lead" 
						translate="global.messages.info.register">
						You don't have an account yet? <a href=\"#/register\">Register
							a new account</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<section id="footer" class="text-center">
		<ul class="social">
			<li><a href="#" class="icon alt fa-twitter"><span
					class="label">Twitter</span></a></li>
			<li><a href="#" class="icon alt fa-facebook"><span
					class="label">Facebook</span></a></li>
			<li><a href="#" class="icon alt fa-instagram"><span
					class="label">Instagram</span></a></li>
			<li><a href="#" class="icon alt fa-github"><span
					class="label">GitHub</span></a></li>
			<li><a href="#" class="icon alt fa-envelope"><span
					class="label">Email</span></a></li>
		</ul>
		<ul class="copy">
			<li>&copy; darteaga.com</li>
			<li>| Design: <a href="http://darteaga.com">darteaga.com</a></li>
		</ul>
	</section>
</div>